.body {
  display: grid;
  grid-template-columns: 1.4fr 0.6fr;
}

.body {
  padding-left: 6%;
}

.body b {
  font-size: 1rem;
}

.body p {
  height: 30px;
  margin: 0;
}

.operations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2%;
}

.barCode {
  align-items: center;
  justify-content: center;
  display: flex;
}

.tag {
  position: relative;
  width: 100%;
  max-height: 100%;
  border: 1px solid black;
  /* para os spans pegarem o width */
  display: inline-block;
}

.operations p {
  margin: 6px;
}

@media screen and (min-width: 500px) {
  .tag {
    min-width: 33.33%;
  }
}
