.wrapper {
  display: flex;
  height: 100vh;
  main {
    flex: 1;
  }
}

.button {
  margin-bottom: 1rem;
  background-color: rgb(5, 155, 50);
  color: #fff;
  border-color: transparent;
  border-radius: 25px;

  &:hover {
    background-color: rgb(5, 155, 50);
    color: #fff;
  }

  &:focus {
    background-color: rgb(5, 155, 50);
    color: #fff;
  }
}

.button_approve {
  margin-bottom: 1rem;
  background-color: rgb(5, 155, 50);
  color: #fff;
  border-color: transparent;

  &:hover {
    background-color: rgb(5, 155, 50);
    color: #fff;
  }

  &:focus {
    background-color: rgb(5, 155, 50);
    color: #fff;
  }
}

.button_reprove {
  margin-bottom: 1rem;
  background-color: rgb(211, 16, 16);
  color: #fff;
  border-color: transparent;

  &:hover {
    background-color: rgb(211, 16, 16);
    color: #fff;
  }

  &:focus {
    background-color: rgb(211, 16, 16);
    color: #fff;
  }
}
.custom_file_upload{
  input[type="file"] {
    display: none;
  }

  p{
    padding: 1em;
    transition: 3s;
  }
  width: 9em;
  height: 5em;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  
}

